--indent 2
--maxwidth 100
--nospaceoperators ...,..<
--operatorfunc nospace
--shortoptionals always
--swiftversion 6.0
--extensionacl on-declarations
--ifdef noindent
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first